@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: fontRegular;
  src: url("assets/font/DMSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: fontBold;
  src: url("assets/font/DMSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: fontMedium;
  src: url("assets/font/DMSans-Medium.ttf") format("truetype");
}

@layer base {
  html {
    font-family: fontRegular, system-ui, sans-serif;
  }
  .App {
    @apply mx-auto bg-white;
    
  }
  .App::-webkit-scrollbar {
    display: none;
  }
  header {
  }
  label {
    @apply text-[16px] pro:text-[24px] leading-[21px] pro:leading-[31.25px] text-black font-[fontRegular];
  }
  .movie-grid {
  }
}
